%p#notice= notice

%p
  %b Descriptor:
  = @characteristic.descriptor.name
%p
  %b Instance:
  = @characteristic.instance.name
%p
  %b Value:
  = @characteristic.descriptor.values.empty? ? @characteristic.value : Value.find(@characteristic.value).name

= link_to 'Edit', edit_characteristic_path(@characteristic)
\|
= link_to 'Back', characteristics_path

