%p#notice= notice

%p
  %b Name:
  = @descriptor.name
%p
  %b Item:
  = @descriptor.item.name
%p
  %b Datatype:
  = @descriptor.datatype

- if @descriptor.values.present?
  %b Values:
  - @descriptor.values.each do |v|
    = v.name

= link_to 'Edit', edit_descriptor_path(@descriptor)
\|
= link_to 'Back', descriptors_path

