%p#notice= notice

%p
  %b Name:
  = @descriptor.name
%p
  %b Item:
  = @descriptor.item.name
%p
  %b Datatype:
  = @descriptor.datatype

= link_to 'Edit', edit_descriptor_path(@descriptor)
\|
= link_to 'Back', descriptors_path

