%p#notice= notice

%p
  %b Name:
  = @item.name

%p
  %b Descriptors
  %ol
    - @item.descriptors.each do |d|
      %li= link_to d.name, descriptor_path(d)
= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path

